.AboutPage div{
    height: auto;
    max-width: 100%;
    background-color: #5F5C6D;
    padding-bottom: 1rem;
    min-height: 100vh;
}

.AboutPage div h1 {
    padding: 20vh 0 0 2rem;
}

.AboutPage div h2 {
    padding: 2rem 0 1rem 2rem;
}

.AboutPage div p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    padding: 0 2rem;
    max-width: 50rem;
}