.FirstPage {
    height: 100vh;
    background-color: rgb(58, 59, 60);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FirstPage h1 {
    margin: 0 0 0 5rem;
    font-family: 'Carter One', cursive;
    font-size: 2rem;
}

@media(max-width: 990px){
    .FirstPage h1 {
        margin: 0 0 0 20px;
    }
}