.FirstPage {
    height: 100vh;
    background-color: #5F5C6D;

}

.FirstPage p{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FirstPage h1 {
    margin: 0 0 0 5rem;
    color: #f2f7f5;
    font-family: 'Kanit';
    font-size: 4rem;
}

@media(max-width: 990px){
    .FirstPage h1 {
        margin: 0 0 0 20px;
    }
}