.ContactPage div {
    height: 50vh;
    width: 100%;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ContactPage div h1 {
    font-size: 3rem;
    padding-top: 10rem;
}

.ContactPage div h2 {
    padding: 0 2rem;
    max-width: 50rem;
}